/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */
.container {
  margin: auto;
  text-align: center;
  margin-top: 100px;
  width: 800px;
  border-radius: 12px;
  box-shadow: 0px 0px 48px 12px rgb(136, 130, 130);
}
.sub-cont {
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 56px 124px;
  font-size: 42px;
  text-align: center;
}
.box {
  margin-left: 16px;
  padding: 36px 0;
  text-align: left;
}
i {
  font-size: 96px;
}
h1 {
  width: 100%;
  font-size: 56px;
  padding: 48px 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
  background-color: #1c90ff;
  color: white;
}
button {
  border: none;
  margin: 32px 32px 0 0;
  background-color: white;
}
.spc-btn {
  text-align: left;
  display: block;
}
.spc-btn i {
  font-size: 48px;
  padding: 0 36px;
}
.user button i {
  color: #1c90ff;
  margin-top: 24px;
}
.computer button i {
  color: red;
  margin-top: 24px;
}
.user button span,
.computer button span {
  display: none;
}
